@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%; 
  -webkit-tap-highlight-color: transparent;
}


*, *::before, *::after {
  box-sizing: border-box;
}
